/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./eventsBg.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} /* Cards Container */
.cards_ {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 40px 20px;
} /* Individual Card */
.card_ {
  width: 100%;
  max-width: 600px;
  position: sticky;
  top: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.card__inner {
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 15px 40px -10px rgba(20, 20, 20, 0.3);
  transform-origin: center top;
  transition: transform 0.5s ease-in-out;
} /* Image Container */
.card__image-container {
  display: flex;
  width: 100%;
}
.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3 / 4;
} /* Content */
.card__content {
  padding: 20px;
  text-align: center;
}
.card__title {
  font-size: 24px;
  font-weight: 600;
  color: #16263a;
}
.card__description {
  line-height: 1.4;
  font-size: 16px;
  color: #16263a;
} /* Spacing */
.space {
  height: 30vh;
}
.space--small {
  height: 35vh;
} /* Responsive Styles */
@media (max-width: 1024px) {
  .cards_ {
    max-width: 90vw;
    padding: 2rem;
  }
  .card_ {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .cards_ {
    max-width: 95vw;
    padding: 20px;
  }
  .card_ {
    max-width: 400px;
  }
  .card__title {
    font-size: 22px;
  }
  .card__description {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .cards_ {
    max-width: 70vw;
    /* padding: 10px; */
  }
  .card_ {
    max-width: 400px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__description {
    font-size: 13px;
  }
  .space{
    height: 39vh;
  }
}
